<div class="container-fluid m-2">
  <div class="card-deck">
    <!--<app-movie-card *ngFor="let singleMovie of movies" [movie]="singleMovie"></app-movie-card>-->
    <div *ngFor="let movie of movies" class="card movie-card mt-2">
      <div class="card mt-2">
        <img width="160" height="auto" class="card-img-top" [src]="movie.poster" alt="Movie poster">
        <div class="card-img-overlay d-flex align-items-end flex-column">
          <p class="card-text text-right rating-text mt-auto">rating: {{movie.rated}}</p>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.imdb_id}}</p>
        <p class="card-text"><strong>Released: </strong>{{movie.released | date: 'MMMM d, yyyy'}}</p>
      </div>
      <div class="card-footer">
        <a  routerLink="/single-movie/{{movie.id}}" class="btn btn-secondary">Details</a>
      </div>
    </div>
  </div>
</div>


