<div class="container-fluid">
  <app-header class="fixed-top app-header"></app-header>
  <div class="container-fluid app-content">
    <app-sidebar [class]="{'toggled': sidebarHidden}"></app-sidebar>
    <div class="container-fluid m-2">
      <button type="button"
              class="btn btn-info toggle-button"
              (click)="toggleSidebar()"
              id="sidebarCollapse">
        <fa-icon [icon]="menuIcon"></fa-icon>
        <span> show/hide</span>
      </button>

      <router-outlet></router-outlet>
    </div>

  </div>
</div>
