<div class="container-fluid">
  <app-header class="fixed-top app-header"></app-header>
  <div class="container-fluid app-content">
    <div class="row mt-2">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9">
        <div class="row">
          <router-outlet></router-outlet>
          <!--<app-main-bar></app-main-bar>-->
        </div>
        <div class="row">
          <app-bottom-bar></app-bottom-bar>
        </div>
      </div>
  </div>


  </div>
</div>
