<div class="container-fluid">
  <app-header class="fixed-top app-header"></app-header>
  <div class="container-fluid app-content">
    <app-sidebar [class]="{'toggled': sidebarHidden}"></app-sidebar>
    <div class="app-mainbar m-2">
      <button type="button"
              class="btn btn-info toggle-button"
              (click)="toggleSidebar()"
              id="sidebarCollapse" >
        <i class="fab fa-accessible-icon"></i>
        <span>Show/hide</span>
      </button>

      <router-outlet></router-outlet>
    </div>

  </div>
</div>
